<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>LibraryManagement</servlet-name>
		<servlet-class>com.library.LibraryManagementServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LibraryManagement</servlet-name>
		<url-pattern>/librarymanagement</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>user</servlet-name>
		<servlet-class>com.library.Signup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>user</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>user1</servlet-name>
		<servlet-class>com.library.UserPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>user1</servlet-name>
		<url-pattern>/userPage</url-pattern>
	</servlet-mapping>
		
	
	<servlet>
  <servlet-name>add</servlet-name>
 
  <jsp-file>/addme.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>add</servlet-name>
  <url-pattern>/adding</url-pattern> 
</servlet-mapping>
	
<servlet>
  <servlet-name>del</servlet-name>
 
  <jsp-file>/deleteme.jsp</jsp-file>
</servlet>
<servlet-mapping>
  <servlet-name>del</servlet-name>
  <url-pattern>/delete</url-pattern> 
</servlet-mapping>
	
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>com.library.AdminPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
